#highlights{
  --margin: 1rem;
  margin-top: var(--margin);

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .card{
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
    width: 20.5rem;
    height: 12.5rem;
    
    &::before{
      content: '';
      position: absolute;
      inset: 0;
      top: 50%; 
      background: linear-gradient(180deg,transparent 0%,#020617 100%);
    }
    & figcaption{
      --px-card: 1rem;
      padding: var(--px-card);
      position: absolute;
      bottom: 0;
      & h3,
      h1{
        margin-top: .5rem;
      }
    }
    
  }

  & > .card{
    height: 26.125rem;
  }
  
}

@media(width >=80em){
  #highlights{
    --margin: 2.5rem;
    & .card{
      width: 100%;
      height: 100%;
    }
    & figcaption{
      --px-card: .75rem;
    }
  }
}