.container{
    --width:375px;
    width: min(var(--width),100% - var(--px-base) * 2);
    margin-inline: auto;
}

.py-base{
    padding-block: var(--py-base);
}
.py-sm{
    padding-block: var(--py-sm);
}
.content-tag{
    display: inline-block;
     background: var(--brand-color-dark);
     font: var(--content-tag);
     letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: .25rem .5rem;
    border-radius: .25rem;

}
.grid{
    display: grid;
}
.grid-flow-col{
    grid-auto-flow: column;
}
.event-columns{
    display: grid;
    gap: 1rem;
}

.flex{
    display: flex;
}
.gap-0\.5{
    gap: .5rem;
}
.gap-1{
    gap: 1rem;
}
.align-item{
    align-items: center;
}
.desktop-only{
    display: none;
}
@media(width >= 80em){
    .container{
        --width:80em; 
    }
    .desktop-only{
        display: initial;
    }
    .event-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr; 
    }
}



